* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  margin-top: 1rem;
}
.header_link {
  text-decoration: none;
  cursor: pointer;
}
.header_link-logo {
  height: 50px;
  margin-left: 100px;
}
.header_title {
  color: #901C1C;
  margin-right: 100px;
}

#main {
  margin-top: 60px;
  text-align: center;
}

.photographer_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 85px;
}
.photographer_section a {
  text-decoration: none;
}

.photographer_img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: #C4C4C4;
  object-fit: cover;
}

.photographer_name {
  color: #D3573C;
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
}

.photographer_location {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  color: #901C1C;
  padding-top: 3px;
}

.photographer_tagline {
  font-size: 0.7rem;
  margin: 0;
  padding-bottom: 5px;
  font-weight: 400;
}

.photographer_price {
  font-size: 0.7rem;
  margin: 0;
  color: #757575;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .header {
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
  }
  .header_link-logo {
    margin: 0;
  }
  .header_title {
    margin: 0;
    font-size: 1.8rem;
  }
  #main {
    margin-bottom: 80px;
  }
  .photographer_section {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .photographer_section {
    grid-template-columns: repeat(2, 1fr);
  }
  #main {
    margin-bottom: 80px;
  }
}
a {
  text-decoration: none;
}

.photographer_header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #FAFAFA;
  height: 300px;
  margin: 0 100px;
}

.photographer_infos {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

.photographer_name {
  font-size: 2.8rem;
}

.photographer_location {
  font-size: 1.5rem;
}

.photographer_tagline {
  font-size: 1.125rem;
  color: #525252;
}

.button_container {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact_button {
  font-size: 20px;
  font-weight: 700;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

.photographer_container-img {
  grid-column: 3;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact_modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(54, 29, 29, 0.4);
}

.modal {
  background-color: #DB8876;
  margin: 5% auto;
  width: 100%;
  max-width: 500px;
}

.modal_body {
  padding: 15px 8%;
  margin: 15px auto;
}

.modal_header {
  display: flex;
  flex-direction: column;
}

.modal_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal_title-h2 {
  margin: 0;
  font-size: 3rem;
  font-weight: normal;
}

.modal_title-name {
  font-size: 3rem;
  font-weight: normal;
  margin: 0;
}

.modal_close-icon {
  cursor: pointer;
  width: 32px;
  height: 32px;
  align-items: flex-start;
}

.form {
  display: flex;
  flex-direction: column;
}

.form_title {
  color: #312E2E;
  font-size: 1.2rem;
}

.text-control {
  height: 50px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 10px;
}

#text {
  height: 80px;
  font-size: 1rem;
}

.button_send {
  margin-top: 1.5rem;
}

#confirm_contact-modal {
  display: none;
}

.modal_confirm {
  display: flex;
  height: 510px;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.modal_confirm-h2 {
  margin-top: 10rem;
  font-size: 1.5rem;
}

.modal_header-confirmation {
  display: flex;
  justify-content: space-between;
}

.confirmation_logo {
  width: 30%;
}

.btn_close {
  margin-top: 9rem;
}

.media {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 90px;
}

.media_container {
  display: flex;
  flex-direction: column;
}

.media_element {
  background-color: #C4C4C4;
  width: 360px;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
}

.media_text-container {
  display: flex;
  justify-content: space-between;
  color: #901C1C;
  align-items: center;
  max-width: 90%;
  gap: 5px;
}

.media_text-title {
  margin: 0;
  font-size: 1.2rem;
  max-width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.media_likes-container {
  display: flex;
  gap: 5px;
  align-items: center;
  max-width: 13%;
}

.media_text-likes {
  margin: 0;
  font-size: 24px;
}

.media_likes-heart {
  font-size: 20px;
  cursor: pointer;
}

.lightBox_container {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

.lightBox_slider {
  width: 100%;
  height: 100%;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 100%;
  margin-top: 70px;
  border-radius: 10px;
  overflow: hidden;
  list-style: none;
}

li {
  width: 100%;
  height: 100%;
}
li .media_img {
  margin: auto;
  display: flex;
  height: 85%;
  width: 50%;
  border-radius: 5px;
  background-color: rgb(134, 134, 134);
  object-fit: cover;
}
li .media_video {
  display: flex;
  margin: auto;
  height: 85%;
  width: 50%;
  border-radius: 5px;
  background-color: rgb(134, 134, 134);
  object-fit: cover;
}

.lightBox_commandes-container {
  top: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
}
.lightBox_commandes-container .lightBox_close {
  position: absolute;
  border: none;
  background-color: transparent;
  font-size: 2rem;
  top: 2%;
  right: 7%;
  font-size: x-large;
  cursor: pointer;
  color: #901C1C;
}
.lightBox_commandes-container .prev_and_next {
  position: absolute;
  width: 60px;
  height: 100px;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #901C1C;
}
.lightBox_commandes-container em {
  font-size: 40px;
  position: relative;
}

.lightBox_commandes-container button:nth-child(1) {
  top: 40%;
  transform: translate(-50%);
  left: 10%;
}

.lightBox_commandes-container button:nth-child(1) em {
  left: -10px;
}

.lightBox_commandes-container button:nth-child(2) {
  top: 40%;
  transform: translate(50%);
  right: 7%;
}

.lightBox_commandes-container button:nth-child(2) em {
  right: 7%;
}

.lightBox_slider-title {
  position: absolute;
  bottom: 2%;
  left: 25%;
  margin: auto;
  font-size: 1.5rem;
  font-weight: 500;
  color: #901C1C;
}

.total_likes_price-container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
  position: fixed;
  padding: 0.5rem 1rem;
  bottom: 0;
  right: 5%;
  background-color: #db8876;
  height: auto;
  width: 270px;
  border-radius: 0.6rem 0.6rem 0 0;
  color: black;
  margin: auto;
}

.total_likes {
  display: flex;
  align-items: center;
  gap: 5px;
}

.total-p {
  margin: 0;
}

.filter {
  display: block;
  margin: 0 100px;
  margin-top: 20px;
}

.trierPar {
  font-size: 1.125rem;
  font-weight: 700;
}

.dropdownMenu {
  width: 10.625rem;
}

.filter_container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.filter-select {
  position: relative;
  display: flex;
  flex-direction: column;
}

.filter-select__trigger {
  display: flex;
  align-items: center;
  padding: 1rem;
  font-size: 1.3rem;
  color: white;
  height: 3rem;
  background: #901C1C;
  cursor: pointer;
  border-radius: 5px;
}

.filter-options-container {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  background: #901C1C;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.filter-select.open .filter-options-container {
  opacity: 1;
  visibility: visible;
}
.filter-select.open .filter-select__trigger {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.filter-option {
  display: block;
  margin: 0 1rem 0;
  font-size: 1.3rem;
  color: white;
  line-height: 4rem;
  cursor: pointer;
  transition: all 0.5s;
}
.filter-option:hover {
  cursor: pointer;
  text-decoration: underline;
}
.filter-option.selected {
  display: none;
}
.filter-option:not(.selected) {
  border-top: solid 0.1rem white;
}

.arrow {
  position: relative;
  height: 1rem;
  margin: 30px;
}

.arrow::before,
.arrow::after {
  content: "";
  position: absolute;
  width: 0.13rem;
  height: 100%;
  transition: all 0.5s;
}

.arrow::before {
  left: -0.2rem;
  transform: rotate(45deg);
  background-color: white;
}

.arrow::after {
  left: 0.5rem;
  transform: rotate(-45deg);
  background-color: white;
}

.open .arrow::before {
  left: -0.2rem;
  transform: rotate(-45deg);
}

.open .arrow::after {
  left: 0.5rem;
  transform: rotate(45deg);
}

/*# sourceMappingURL=style.css.map */
