// -------------------- Forme de contact ------------------

.contact_modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(54, 29, 29, 0.4);
    animation: open 1s;
  }

  .modal{
    background-color: $secondary-bg;
    margin: 5% auto;
    width: 100%;
    max-width: 500px;
    animation: apparition_modal 1s;
  }

  .modal_body{
    padding: 15px 8%;
    margin: 15px auto;
  }
.modal_header{
    display: flex;
    flex-direction: column;
}
.modal_title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal_title-h2{
    margin: 0;
    font-size: 3rem;
    font-weight: normal;
}

.modal_title-name{
  font-size: 3rem;
  font-weight: normal;
  margin: 0;
}

.modal_close-icon{
    cursor: pointer;
    width: 32px;
    height: 32px;
    align-items: flex-start;
}

.form{
    display: flex;
    flex-direction: column;
}
.form_title{
    color: $modal-txt;
    font-size: 1.2rem;
}

.text-control{
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 10px;
}

#text{
    height: 80px;
    font-size: 1rem;
}

.button_send{
    margin-top: 1.5rem;
}


// ---------- Message de confirmation - form de contact ------------------ 
#confirm_contact-modal{
   display: none;
}

.modal_confirm{
    display: flex;
    height: 510px;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    
}

.modal_confirm-h2{
    margin-top: 10rem;
    font-size: 1.5rem;
}

.modal_header-confirmation{
    display: flex;
    justify-content: space-between;
}
.confirmation_logo{
    width: 30%;
}

.btn_close{
  margin-top: 9rem;
}



/* Styles pour les états de focus et les états de survol */
:focus {
    outline: none;
  }
  
  :focus-visible {
    outline: 2px solid blue;
  }
  
  button:hover,
  button:focus,
  a:hover,
  a:focus,
  input:hover,
  input:focus,
  textarea:hover,
  textarea:focus {
    outline: 2px solid blue;
  }
  
  /* Styles pour les étiquettes de formulaire */
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  /* Styles pour les champs de saisie de formulaire */
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  



  