// ------------------- Light Box - Slider -----------------------------
.lightBox_container{
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
    animation: open 1s;
  }
  .lightBox_slider{
    width: 100%;
    height: 100%;
  }
  
  ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
    height: 100%;
    margin-top: 70px;
    border-radius: 10px;
    overflow: hidden;
    list-style: none;
  }
  
  li{
    width: 100%;
    height: 100%;
    .media_img{
      margin: auto;
      display: flex;
      height: 85%;
      width: 50%;
      border-radius: 5px;
      background-color: $bg-img;
      object-fit: cover;
    }
    .media_video{
      display: flex;
      margin: auto;
      height: 85%;
      width: 50%;
      border-radius: 5px;
      background-color: $bg-img;
      object-fit: cover;
    }
  }
  
  .lightBox_commandes-container{
    top: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    .lightBox_close{
      position: absolute;
      border: none;
      background-color: transparent;
      font-size: 2rem;
      top: 2%;
      right: 7%;
      font-size: x-large;
      cursor: pointer;
      color: $primary;
    }
    .prev_and_next{
      position: absolute;
      width: 60px;
      height: 100px;
      background-color: transparent;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      color: $primary;
    }
    em {
      font-size: 40px;
      position: relative;
    }
  }
  
  .lightBox_commandes-container button:nth-child(1) {
    top: 40%;
    transform: translate(-50%);
    left: 10%;
  }
  
  .lightBox_commandes-container button:nth-child(1) em {
    left: -10px;
  }
  
  .lightBox_commandes-container button:nth-child(2) {
    top: 40%;
    transform: translate(50%);
    right: 7%;
  }
  
  .lightBox_commandes-container button:nth-child(2) em {
    right: 7%;
  }
  
  .lightBox_slider-title{
    position: absolute;
    bottom:1px;
    left: 25%;
    margin: auto;
    font-size: 1.5rem;
    font-weight: 500;
    color: $primary;
  }