.photographer_header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
  }
  .photographer_infos {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
  }

  .photographer_name{
    font-size: 2.8rem;
  }
  .photographer_location{
    font-size: 1.5rem;
  }

  .photographer_tagline{
    font-size: 1.125rem;
    color: #525252;
  }

  .button_container {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.contact_button {
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.photographer_container-img {
    grid-column: 3;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  

  

  



#contact_modal {
    display: none;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}



//SECTION gallerie de photos
.media{
    margin-top: 9rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 90px;
}

//article 
.media_container{
display: flex;
flex-direction: column;
}
//image ou vidéo
.media_element{
    background-color: #C4C4C4;
    width: 350px;
    height: 300px;
    object-fit: cover;
    
}
//div container pour le texte
.media_text-container{
display: flex;
justify-content: space-between;
color: #901C1C;
align-items: center;    

max-width: 90%; /* Empêcher le texte de dépasser la largeur de l'élément parent */
gap: 5px;


}
//h2 titre de photo
.media_text-title {
    margin: 0;
    font-size: 1.2rem;
    max-width: 70%;
    white-space: nowrap; /* Empêcher le retour à la ligne */
    overflow: hidden; /* Cacher le texte qui déborde */
    text-overflow: ellipsis; /* Ajouter des points de suspension */
  }
//div container pour likes et icone
.media_likes-container{
    display: flex;
    gap: 5px;
    align-items: center;
    max-width: 13%;
}
//p pour le nb de likes
.media_text-likes{
margin: 0;
font-size: 24px;
}
//i icone heart
.media_likes-heart{
    font-size: 20px;
}




