$primary:                       #901C1C;
$secondary-bg:                  #DB8876;
$secondary-txt:                 #D3573C;
$black:                         #000000;
$white:                         #FFFFFF;

$bg-img:                        #C4C4C4;

$gray-txt:                      #757575;
$bg-profil-header:              #FAFAFA;
$tagline-profil-txt:            #525252;
$modal-txt:                     #312E2E;